body {
    background-color: #dededa;
}

h1, h2, h3 {
    color: #2f3e5c;
}

button {
    font-size: 100%;
    color: #fbfbfc;
    background: #d24993;
    display: block;
    border-radius: 10px;
    padding: 0;
    border: none;
    cursor: pointer;
}